<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div th:each="b : ${allBrands}" th:object="${b}"
         class='row mb-4 d-flex justify-content-around'>
        <div  class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Car brand:
                <span th:text="*{name}"></span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="m : ${b.models}"  th:object="${m}">
                        <th th:text="*{id}">No</th>
                        <th th:text="*{name}">Model Name</th>
                        <th th:text="*{category}">Model Category</th>
                        <th th:text="*{startYear}">Model Start Year</th>
                        <th th:text="*{endYear}">Model End Year</th>
                        <th><img alt="image" th:src="*{imageUrl}"
                                 class="img-thumbnail rounded"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
             <footer> </footer>
    </div>
</div>
</body>
</html>
